*{
  box-sizing: border-box;
}
h1{
    color: whitesmoke;
    font-size: 3.5 em;
}
p{
    color: blueviolet;
    font-size: 1.25em;
    font-family: 'Times New Roman', Times, serif;
}
.contenedor-1{
    font-family: 'Times New Roman', Times, serif;
  background-color: #000407;
  padding: 10px;
  text-align: right;
  color: white;
}

.contenedor-2{
  font-family: Tahoma, sans-serif;
  background-color: lightgreen;
  margin-left: 100px;
  width: 400px;
  font-size: 24px;
}
body {
  margin: 0;
    font-family: 'Times New Roman';
    font-size: 16px;
}
.fijado{
    background-color: lightcoral;
  padding: 20px;
  position: fixed;
  top: 5px;
  right: 100px;
  border: 5px solid red;
  width: 150px;
  }
  body{
    background-color: beige;
    font-family: sans-serif;
 
  }
  
#container{
  width: 1100px;
  margin: 0% auto;
  border: 1px solid black;
}

header {
  background: #4f2dc9;
  grid-area: header;
  width: 99,5%;
  height: 100px;
  margin: 0%;
  line-height: 100px;
padding: 20px 0; 
  
}

nav {
  background: #C9BFBF;
  grid-area: nav; 
  height: 100px;
}
nav ul li{
  
  float: left;
  list-style:none;
  margin: 20px;
}
.clearfix{
  clear: both;

}
#content{
  background-color: #ABABAB;
  float: left;
  width: 75%;
  border: 1px solid black;
  
}

aside {
  float: left;
  width: 20%;
   
}

footer {
  background: #707070;
  grid-area: footer;
  line-height: 50px;
  text-align: right;
  height: 50px;
}

header, nav, section, aside, footer {
  padding: 5px;
}

  button{
    font-size: 0.9em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 5) ;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 5) ;

  }
  input{
    font-size: 1em;
    padding: auto;

  }
  header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight:  bold;
    color :aliceblue;
    font: 1.6em;

  }
  header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header NAV{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-bottom: 25px ;
    
  }
  header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
  }
  header :hover{
    color: pink;
  }
  
  
